* {
  list-style-type: none;
  /* text-decoration: none !important; */
}
.wh_60 {
  width: 60px;
  height: 80px;
}
.z_50 {
  z-index: 50 !important;
}
.c_pointer {
  cursor: pointer;
}
.mw_1320 {
  max-width: 1320px;
}
.text_decoration_none {
  text-decoration: none !important;
}

/* nav bar */
.sm_nav {
  position: fixed;
  z-index: 4 !important;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  background: var(--bg-darkgreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear !important;
}
.big_hover:hover {
  transform: scale(1.2) !important;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.z_100 {
  z-index: 100;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.lh_normal {
  line-height: normal;
}
.bg_parrot {
  background: #d2f038;
}
.back {
  background-color: #ff4242;
}
.back:hover {
  background-color: #d2f038;
}
.nav_btn {
  height: 80px;
  padding: 0px 29.752px 0px 29.63px;
  border: none !important;
}
.nav_btn:hover .nav_arrow {
  transform: translateX(30%);
}

.transition_300 {
  transition: 300ms linear;
}
ul li a:hover {
  color: #ff4242 !important;
}
.scale_high:hover {
  transform: scale(1.2);
}
.current_btn:hover .white_arrow {
  transform: translateY(40%);
}
.current_btn:hover {
  background-color: #d2f038;
}
/* -----------------------Header--------------------- */
.me_171 {
  margin-right: 141px;
}
.mt_180 {
  margin-top: 180px;
}
.clr_sky {
  color: #00afb5;
}
.hw_800 {
  height: 800px;
  width: 800px;
}
.fs_120 {
  font-size: 120px;
}
.lh_86 {
  line-height: 86.667%;
}
.lh_166 {
  line-height: 166.667%;
}
.mw_396 {
  max-width: 396px;
}
.mw_426 {
  max-width: 426px;
}
.current_btn {
  height: 80px;
  width: 253px;
  border: none;
}
.bg_red {
  background: #ff4242;
}
.clr_red {
  color: #ff4242;
}
.navlogo {
  position: absolute;
  top: 29.99px;
  left: 57px;
}
.mt_121 {
  margin-top: 121px;
}
.ml_121 {
  margin-left: 121px;
}
.bottom_middle {
  bottom: -23%;
}
/* ====================passion============ */
.bg_passion {
  background-image: url(./assets/images/png/bg_passion.png);
  background-size: cover;
  background-position: center;
}
.lh_normal {
  line-height: normal;
}
.py_113 {
  padding-top: 113px;
  padding-bottom: 114px;
}
.lh_87 {
  line-height: 87.5%;
}
.mw_621 {
  max-width: 621px;
}
.lh_133 {
  line-height: 133%;
}
/* ================Core Values==================== */
.mx_drive {
  margin-left: 134px;
  margin-right: 70px;
}
.mw_433 {
  max-width: 433px;
}
.hw_honor {
  width: 748px;
  height: 532px;
}
.hw_drive {
  max-width: 628px;
}
.honor_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.honor_circle {
  background-color: #5cd93d;
  border-radius: 50%;
  height: 176px;
  width: 176px;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
}
.lh_87 {
  line-height: 87.5%;
}
.mt_246 {
  margin-top: 246px;
}
.mw_1201 {
  max-width: 1201px;
}

.drive_circle {
  background-color: #5cd93d;
  border-radius: 50%;
  height: 176px;
  width: 176px;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.drive_2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hw_email:hover {
  transform: scale(1.1);
}
.hw_email:hover .white_arrow {
  transform: translateX(30%);
}
/* -----------------------------------People---------------------------------- */
.hw_people {
  max-width: 329px;
  height: 365px;
}
.bg_seagreen {
  background-color: #00999e;
}
.trty_48 {
  transform: translateY(-48px);
}
.mt_149 {
  margin-top: 149px;
}
.px_slider {
  padding-left: 22px;
  padding-right: 16px;
}
.hw_icon {
  width: 45px;
  height: 45px;
}
.mw_325 {
  max-width: 325px;
}
.mw_315 {
  max-width: 315px;
}
.lh_133 {
  line-height: 133%;
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
  display: flex !important;
}
.slick-slide > div {
  display: flex;
}
.bg_darksky {
  background-color: #097980;
}
/* ---------------------------Collaboration------------------------ */
.py_235 {
  padding-top: 235px;
  padding-bottom: 123px;
}
.collab1 {
  top: 5%;
  right: 9%;
}
.collab2 {
  top: 9%;
  left: 14%;
}
.collab3 {
  bottom: 33%;
  left: 3%;
}
.collab4 {
  bottom: 22%;
  right: 0%;
}
.collab5 {
  bottom: 9%;
  right: 28%;
}
.nav-link {
  color: #bebebe !important;
  font-family: "Maison Neue" !important;
  font-size: 120px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 48px !important;
  margin-bottom: 80px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black !important;
}
.nav-link.active {
  position: relative !important;
  border: none !important;
}
.nav-link.active::before {
  content: url(./assets/images/png/collabline.png);
  position: absolute;
  top: -90%;
  left: -5%;
}
.nav-link.active::after {
  content: "5";
  position: absolute;
  right: -3%;
  top: -100%;
  color: #bebebe;
  font-family: "Maison Neue";
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
/* ---------------------------Aboutus----------------------------- */
.bg_about {
  background-image: url(./assets/images/png/about\ us.png);
  background-size: cover;
  background-position: center;
}
.py_116 {
  padding-top: 116px;
  padding-bottom: 116px;
}
.play_button {
  position: absolute;
  bottom: 6%;
  right: 3%;
}
.mw_797 {
  max-width: 797px;
}
.mw_583 {
  max-width: 583px;
}
/* -----------------------------Faqs----------------------------- */
.contact_hover:hover {
  color: #d2f038;
}
.border_white {
  border: 2px solid white;
}
.py_121 {
  padding-top: 121px;
  padding-bottom: 117px;
}
.mw_948 {
  max-width: 948px;
}
.mw_551 {
  max-width: 551px;
}
.px_41 {
  padding-left: 41px;
  padding-right: 35px;
}
.accordion-body {
  background-color: transparent !important;
  color: white;
  font-family: "poppins";
  font-weight: 400;
  font-size: var(--fs-sm);
}
.py_123 {
  margin-top: 133px;
  margin-bottom: 101px;
}

.accordion-button:not(.collapsed) {
  color: rgb(0, 0, 0) !important;
  background-color: #5cd93d !important;
  padding-bottom: 9px !important;
}
.accordion {
  --bs-accordion-btn-active-icon: url(./assets/images/svg/neg.svg) !important;
  --bs-accordion-btn-icon: url(./assets/images/svg/up_arrow.svg) !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-btn-padding-x: 0px !important;
  --bs-accordion-body-padding-x: 0px !important;
  position: relative !important;
  z-index: 6 !important;
  --bs-accordion-inner-border-radius: 0 !important;
}

.accordion-button:not(.collapsed) {
  color: rgb(0, 0, 0) !important;
  background-color: #5cd93d !important;
  padding-bottom: 9px !important;
  border: none !important;
}
.accordion-collapse {
  background-color: #5cd93d !important;
  color: black !important;
}

div.accordion-body {
  padding-top: 0;
}
.accordion-button {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
  padding-left: 41px !important;
  padding-right: 35px !important;
  background: black !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}
.Accordion {
  --bs-accordion-btn-active-icon: url(./assets/images/svg/up_arrow.svg) !important;
  --bs-accordion-btn-icon: url(./assets/images/svg/down_arrow.svg) !important;
}
.accordion-button::after {
  margin-top: 12px;
}
.px_12 {
  padding-left: 12px;
  padding-right: 12px;
}
.ps_41 {
  padding-left: 41px;
}
.accordion-button::after {
  margin-bottom: 12px !important;
}
.accordion-button:not(.collapsed).accordion-button {
  padding-bottom: 31px !important;
}
.accordion-button:not(.collapsed).accordion-button h4 {
  color: #000 !important;
}
.accordion-button:not(.collapsed).accordion-item {
 border: none !important;
}


/* ------------------------------Goals-------------------------- */
.bg_goals {
  background-image: url(./assets/images/png/goals_bg.png);
  background-size: cover;
  background-position: center;
}
.btn_goal {
  height: 77px;
  width: 241px;
  border: none;
  background-color: #d2f038;
}
.btn_goal:hover {
  transform: scale(1.1);
}
.btn_goal:hover .trtl_x {
  transform: translateX(30%);
}
.py_81 {
  padding-top: 81px;
  padding-bottom: 85px;
}
/* -------------------------------footer------------------------*/
.accordion-item:first-of-type {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
.mx_footer {
  margin-left: 48px;
  margin-right: 60px;
}
.pt_90 {
  padding-top: 90px;
  padding-bottom: 95px;
}
.lh_108 {
  line-height: 108%;
}

.border_white {
  border: 2px solid white !important;
}
.rounded_50 {
  border-radius: 50px;
}
.redarrow {
  transform: translateX(-80%);
  bottom: 10%;
}

.mw_449 {
  min-width: 449px;
}
.text_green {
  color: #d2f038;
}
.footer_input::placeholder {
  color: #fff;
  line-height: 133%;
  padding-left: 20px;
}
.outline_none {
  outline: none;
}
.mw_150 {
  min-width: 280px;
}
.min_h_64 {
  min-height: 64px;
}
.lh_153 {
  line-height: 153.846%;
}
.mt_80 {
  margin-top: 80px !important;
}
.fs_12 {
  font-size: 12px;
}
.underline_green {
  text-decoration: underline;
  text-decoration-color: #d2f038 !important;
}
.mw_228 {
  max-width: 228px;
}
.mb_95 {
  margin-bottom: 101px;
}
.mb_227 {
  margin-bottom: 227px;
}
/* --------------Join us-------------- */
.pb_227 {
  padding-bottom: 227px !important;
}
.mw_687 {
  max-width: 687px;
}
.hw_email {
  height: 77px;
  width: 160.2401px;
}
.mw_1161 {
  max-width: 1161px;
}
.border_blue {
  border-radius: 25px;
  border: 2px solid #00afb5;
}
.mw_294 {
  max-width: 294px;
}
.lh_88 {
  line-height: 88%;
}
.mw_625 {
  max-width: 625px;
}
.px_65 {
  padding-left: 65px;
  padding-right: 65px;
}
.py_65 {
  padding-top: 59px;
  padding-bottom: 65px;
}
.intern {
  transform: translatey(-50%);
}
footer ul li {
  position: relative;
}
footer ul li::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 30%;
  left: 0%;
  background-color: #5cd93d;
  transition: 300ms;
}
footer ul li:hover::before {
  width: 100%;
}
.trtl_y {
  transform: translateY(-10%);
}
.slick-slide {
  min-height: 500px !important;
  justify-content: center !important;
}
/* ------------------------------------------websites------------------------- */
.bg_light {
  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: soft-light;
}
.ms_87 {
  margin-left: 87px;
}
.mw_323 {
  max-width: 323px;
}
.mw_126 {
  max-width: 156px;
}
.bg_number {
  background-color: #e5f74e;
}
.mw_484 {
  max-width: 484px;
}
.pe_87 {
  padding-right: 87px;
}
.ps_87 {
  padding-left: 87px;
}
.mw_373 {
  max-width: 373px;
}
.website_input {
  min-width: 449px;
  border: none;
  border-radius: 50px;
  background: #fff;
  min-height: 64px;
  margin-bottom: 23px;
  outline: none;
  border: none;
}
.website_input::placeholder {
  color: #000;
  font-family: "Maison Neue";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.33%normal;
  text-transform: capitalize;
  padding-left: 28px;
}
.analize_btn {
  width: 220px;
  height: 77px;
  border: none;
  background-color: #00bbc1;
  line-height: normal;
}
.analize_btn:hover {
  transform: scale(1.1);
}
.analize_btn:hover .trtl_x {
  transform: translateX(30%);
}
.pb_87 {
  padding-bottom: 87px;
}
.ws_2 {
  word-spacing: 1px !important;
}
.ps_131 {
  padding-left: 131px;
}
.mw_588 {
  max-width: 588px;
}
.slick-track {
  justify-content: space-between !important;
  min-width: 1440px !important;
}
.hover_green:hover {
  color: #d2f038 !important;
}
.hover_green:hover .learn_pic {
  transform: translateX(30%);
}
.border_white {
  border: 2px solid white;
}
.text_green:hover {
  color: #5cd93d !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  background-color: #ffffff !important;
  width: 70px !important;
  transition: 300ms;
}
li.slick-active {
  color: #ffffff !important;
  width: 51px !important;
  height: 11px !important;
  border-radius: 23px;
  width: 76px !important;
  height: 7px !important;
  opacity: 100 !important;
  border-radius: 39px !important;
  background: #ffffff !important;
}

.slick-dots li button:active {
  color: #ffffff !important;
}
.slick-dots li button:before {
  width: 22px !important;
  height: 7px !important;
  content: "" !important;
  border-radius: 39px !important;
  background-color: white !important;
  position: absolute;
  left: 0;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 31px !important;
  height: 7px !important;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  transition: 300ms;
}
.slick-dots {
  bottom: -5% !important;
}
.prev_btn {
  top: 50%;
  transform: translateY(-50%);
}
.next_btn {
  top: 50%;
  transform: translateY(-50%);
}
.fs_25 {
  font-size: 25px;
}
@media (max-width: 576px) {
  .py_235 {
    padding-top: 70px;
  }

  .honor_circle {
    height: 80px !important;
    width: 80px !important;
  }
  .drive_circle {
    height: 80px !important;
    width: 80px !important;
  }
  .pb_87 {
    padding-bottom: 45px !important;
  }
  .py_121 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .pt_90 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .mw_797 {
    max-width: 397px;
  }
  .mt_n4 {
    margin-top: -80px !important;
  }
  .hw_honor {
    width: 100% !important;
    object-fit: cover !important;
  }
  .mx_footer {
    margin-left: 12px;
    margin-right: 12px;
  }
  .mw_449 {
    min-width: 249px;
  }
  .mw_150 {
    min-width: 150px;
  }
  .hw_800 {
    height: 400px !important;
    width: 400px !important;
  }
  .py_113 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }
  .me_171 {
    margin-right: 0px !important;
  }
  .collab2,
  .collab3,
  .collab4,
  .collab5,
  .collab1 {
    max-width: 150px;
  }
}
@media (min-width: 1441px) {
  .mx_drive {
    margin-left: 234px;
    margin-right: 105px;
  }
  .hw_honor {
    width: 848px;
    height: 632px;
  }
  .hw_drive {
    max-width: 628px;
  }
  .me_171 {
    margin-right: 271px;
  }
}
@media (max-width: 1345px) {
  .mt_180 {
    margin-top: 50px;
  }
  .hw_800 {
    width: 700px;
    height: 700px;
  }
  .redarrow {
    width: 258.389px;
    height: 154.372px;
  }
}
@media (max-width: 1400px) {
  .ml_121 {
    margin-left: 0px;
  }
}
@media (max-width: 1200px) {
  .nav-link.active::after {
    content: "5";
    position: absolute;
    right: -3%;
    top: -68%;
    color: #bebebe;
    font-family: "Maison Neue";
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .nav-link.active::before {
    content: none;
    position: absolute;
    top: -90%;
    left: -5%;
  }
  .collab2 {
    top: 3%;
    left: 3%;
  }
  .collab5 {
    bottom: 6%;
  }
  .nav-link {
    color: #bebebe !important;
    font-family: "Maison Neue" !important;
    font-size: 90px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 48px !important;
    margin-bottom: 60px !important;
  }
  .py_123 {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .pt_90 {
    padding-top: 70px;
  }

  .mt_246 {
    margin-top: 90px;
  }
  .website_input {
    min-width: 249px;
    border: none;
    border-radius: 50px;
    background: #fff;
    min-height: 44px;
    margin-bottom: 23px;
    outline: none;
    border: none;
  }

  .drive_circle {
    background-color: #5cd93d;
    border-radius: 50%;
    height: 126px;
    width: 126px;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .honor_circle {
    background-color: #5cd93d;
    border-radius: 50%;
    height: 126px;
    width: 126px;
    right: -9%;
    top: 50%;
    transform: translateY(-50%);
  }
  .ps_87 {
    padding-left: 50px;
  }
  .py_121 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .py_116 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fs_120 {
    font-size: 91px;
  }
  .hw_800 {
    height: 550px;
    width: 550px;
  }
  .me_171 {
    margin-right: 50px;
  }
  .current_btn {
    height: 60px;
    width: 213px;
    border: none;
  }
  .py_113 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .mx_drive {
    margin-left: 50px;
    margin-right: 50px;
  }
  .hw_drive {
    max-width: 550px;
  }
  .mt_121 {
    margin-top: 71px;
  }
  .hw_honor {
    width: 648px;
    height: 432px;
  }
}
@media (max-width: 992px) {
  .nav-link {
    color: #bebebe !important;
    font-family: "Maison Neue" !important;
    font-size: 60px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 48px !important;
    margin-bottom: 30px !important;
  }
  .nav-link.active::after {
    content: "5";
    position: absolute;
    right: -3%;
    top: -28%;
    color: #bebebe;
    font-family: "Maison Neue";
    font-size: 45px;
  }
  .py_123 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .analize_btn {
    width: 192px;
    height: 48px;
    border: none;
    background-color: #00bbc1;
    line-height: normal;
  }
  .redarrow {
    width: 158.389px;
    height: 54.372px;
  }
  .honor_circle {
    background-color: #5cd93d;
    border-radius: 50%;
    height: 126px;
    width: 126px;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .ps_87 {
    padding-left: 12px;
  }
  .pb_87 {
    padding-bottom: 67px !important;
  }
  .py_121 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .accordion-button {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 21px !important;
    padding-right: 25px !important;
    background: black !important;
  }
  .ps_41 {
    padding-left: 21px;
  }
  .mt_80 {
    margin-top: 60px !important;
  }
  .pt_90 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .btn_goal {
    height: 49px !important;
    width: 189px !important;
  }
  .py_81 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .btn_goal {
    height: 67px;
    width: 231px;
    border: none;
    background-color: #d2f038;
  }
  .hw_50 {
    height: 50px;
    width: 50px;
  }
  .mw_797 {
    width: 597px !important;
  }
  .pb_227 {
    padding-bottom: 200px !important;
  }
  .mt_n4 {
    margin-top: -50px;
  }
  .ms_132 {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .px_65 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .py_65 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mt_121 {
    margin-top: 51px;
  }
  .mt_132 {
    margin-top: 76px;
  }
  .me_171 {
    margin-right: 0px;
  }
  .hw_800 {
    height: 500px;
    width: 500px;
  }
  .fs_120 {
    font-size: 56px;
  }
  .mw_426 {
    max-width: none !important;
  }
  .navlogo {
    top: 2%;
    left: 2%;
  }
  .py_113 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mt_246 {
    margin-top: 60px;
  }
  .mx_drive {
    margin-left: 0px;
    margin-right: 0px;
  }
  .collab1 {
    top: 5%;
    right: 9%;
  }
  .collab2 {
    top: 9%;
    left: 14%;
    max-width: 300px;
  }
  .collab3 {
    bottom: 33%;
    left: 3%;
  }
  .collab4 {
    bottom: 22%;
    right: 0%;
    max-width: 270px;
  }
  .collab5 {
    bottom: 4%;
    right: 28%;
  }
  .py_235 {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .nav-link {
    color: #bebebe !important;
    font-family: "Maison Neue" !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 48px !important;
    margin-bottom: 10px !important;
  }
  .nav-link.active::after {
    content: "5";
    position: absolute;
    right: -3%;
    top: -18%;
    color: #bebebe;
    font-family: "Maison Neue";
    font-size: 25px;
  }
  .py_123 {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .pb_87 {
    padding-bottom: 47px !important;
  }
  .mw_484 {
    max-width: 100%;
  }
  .mw_588 {
    max-width: 100%;
  }
  .hw_honor {
    width: 548px;
    height: 332px;
  }
  .mt_121 {
    margin-top: 25px;
  }
  .py_116 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .py_81 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .mt_80 {
    margin-top: 45px !important;
  }
  .collab2 {
    left: 5%;
  }
  .collab4 {
    max-width: 200px;
  }
}
@media (max-width: 630px) {
  .collab3 {
    bottom: 40%;
  }
  .collab2 {
    max-width: 150px;
    top: 20%;
  }
  .collab4 {
    bottom: 30%;
    max-width: 150px;
  }
  .min_h_64 {
    min-height: 50px;
  }
  .mw_797 {
    width: 497px !important;
  }
  .px_65 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py_65 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hw_drive {
    width: 100% !important;
    object-fit: cover !important;
  }
}
@media (max-width: 423px) {
  .hw_800 {
    width: 100% !important;
    object-fit: cover !important;
  }
  .mw_797 {
    max-width: 300px;
  }
  .col_12 {
    width: 100% !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 10px !important;
  }
}
.zoom-in-zoom-out {
  margin: 24px;
  width: 50px;
  height: 50px;
  background: white;
  animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
