* {
  list-style-type: none;
  /* text-decoration: none !important; */
}
.z_50 {
  z-index: 50 !important;
}
.c_pointer {
  cursor: pointer;
}
.mw_1320 {
  max-width: 1320px;
}
.text_decoration_none {
  text-decoration: none !important;
}
/* nav bar */
.sm_nav {
  position: fixed;
  z-index: 4 !important;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  background: var(--bg-darkgreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.lh_normal {
  line-height: normal;
}
.bg_parrot {
  background: #d2f038;
}
.nav_btn {
  height: 80px;
  padding: 0px 31.759px 0px 31.637px;
  border: none !important;
}
/* -----------------------Header--------------------- */
.clr_sky {
  color: #00afb5;
}
.hw_800 {
  height: 800px;
  width: 800px;
}
.fs_120 {
  font-size: 120px;
}
.lh_86 {
  line-height: 86.667%;
}
.lh_166 {
  line-height: 166.667%;
}
.mw_396 {
  max-width: 396px;
}
.mw_426 {
  max-width: 426px;
}
.current_btn {
  height: 80px;
  width: 253px;
  border: none;
}
.bg_red {
  background: #ff4242;
}
.clr_red {
  color: #ff4242;
}
.ms_132 {
  margin-left: 132px;
}
.navlogo {
  position: absolute;
  top: 29.99px;
  left: 57px;
}
.mt_121 {
  margin-top: 121px;
}
.bottom_middle {
  bottom: -23%;
}
/* ====================passion============ */
.bg_passion {
  background-image: url(./assets/images/png/bg_passion.png);
  background-size: cover;
  background-position: center;
}
.lh_normal {
  line-height: normal;
}
.py_113 {
  padding-top: 113px;
  padding-bottom: 114px;
}
.lh_87 {
  line-height: 87.5%;
}
.mw_621 {
  max-width: 621px;
}
.lh_133 {
  line-height: 133%;
}
/* ================Core Values==================== */
.hw_honor {
  width: 748px;
  height: 532px;
}
.mw_433 {
  max-width: 433px;
}
.me_171 {
  margin-right: 171px;
}
.honor_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.honor_circle {
  background-color: #5cd93d;
  border-radius: 50%;
  height: 176px;
  width: 176px;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
}
.lh_87 {
  line-height: 87.5%;
}
.mt_246 {
  margin-top: 246px;
}
.mw_1201 {
  max-width: 1201px;
}
.hw_drive {
  max-width: 628px;
}
.drive_circle {
  background-color: #5cd93d;
  border-radius: 50%;
  height: 176px;
  width: 176px;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.drive_2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mx_drive {
  margin-left: 134px;
  margin-right: 105px;
}
/* -----------------------------------People---------------------------------- */
.hw_people {
  max-width: 329px;
  height: 365px;
}
.bg_seagreen {
  background-color: #00999e;
}
.trty_48 {
  transform: translateY(-48px);
}
.mt_149 {
  margin-top: 149px;
}
.px_slider {
  padding-left: 22px;
  padding-right: 16px;
}
.hw_icon {
  width: 45px;
  height: 45px;
}
.mw_325 {
  max-width: 325px;
}
.mw_315 {
  max-width: 315px;
}
.lh_133 {
  line-height: 133%;
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
  display: flex !important;
}
.slick-slide > div {
  display: flex;
}
.bg_darksky {
  background-color: #097980;
}
/* -----------------------------Faqs----------------------------- */
.border_white {
  border: 2px solid white;
}
.py_121 {
  padding-top: 121px;
  padding-bottom: 117px;
}
.mw_948 {
  max-width: 948px;
}
.mw_551 {
  max-width: 551px;
}
.px_41 {
  padding-left: 41px;
  padding-right: 35px;
}
.accordion-body {
  background-color: transparent !important;
  color: white;
  font-family: "poppins";
  font-weight: 400;
  font-size: var(--fs-sm);
}

.accordion {
  --bs-accordion-btn-active-icon: url(./assets/images/svg/neg.svg) !important;
  --bs-accordion-btn-icon: url(./assets/images/svg/up_arrow.svg) !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-btn-padding-x: 0px !important;
  --bs-accordion-body-padding-x: 0px !important;
  position: relative !important;
  z-index: 6 !important;
  --bs-accordion-inner-border-radius: 0 !important;
}

.accordion-button:not(.collapsed) {
  color: rgb(0, 0, 0) !important;
  background-color: #5cd93d !important;
}
.accordion-collapse {
  background-color: #5cd93d !important;
  color: black !important;

}
div.accordion-body {
  padding-top: 0;
}
.accordion-button {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
  padding-left: 41px !important;
  padding-right: 35px !important;
  background: black !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}
.Accordion {
  --bs-accordion-btn-active-icon: url(./assets/images/svg/up_arrow.svg) !important;
  --bs-accordion-btn-icon: url(./assets/images/svg/down_arrow.svg) !important;
}
.accordion-button::after {
  margin-top: 12px;
}
.px_12 {
  padding-left: 12px;
  padding-right: 12px;
}
.ps_41 {
  padding-left: 41px;
}
.accordion-button::after {
  margin-bottom: 12px !important;
}
/* ------------------------------Goals-------------------------- */
.bg_goals {
  background-image: url(./assets/images/png/goals_bg.png);
  background-size: cover;
  background-position: center;
}
.btn_goal {
  height: 77px;
  width: 241px;
  border: none;
  background-color: #d2f038;
}
.py_81 {
  padding-top: 81px;
  padding-bottom: 85px;
}
/* -------------------------------footer------------------------*/
accordion-item:first-of-type {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
.mx_footer {
  margin-left: 48px;
  margin-right: 60px;
}
.pt_90 {
  padding-top: 90px;
  padding-bottom: 95px;
}
.lh_108 {
  line-height: 108%;
}
.ls_2 {
  word-spacing: -10.7px;
}
.border_white {
  border: 2px solid white !important;
}
.rounded_50 {
  border-radius: 50px;
}
.mw_449 {
  min-width: 449px;
}
.text_green {
  color: #d2f038;
}
.footer_input::placeholder {
  color: #fff;
  line-height: 133%;
  padding-left: 20px;
}
.outline_none {
  outline: none;
}
.mw_150 {
  min-width: 280px;
}
.min_h_64 {
  min-height: 64px;
}
.lh_153 {
  line-height: 153.846%;
}
.mt_80 {
  margin-top: 80px !important;
}
.fs_12 {
  font-size: 12px;
}
.underline_green {
  text-decoration: underline;
  text-decoration-color: #d2f038 !important;
}
.mw_228 {
  max-width: 228px;
}
.mb_95 {
  margin-bottom: 101px;
}
@media (max-width: 576px) {
  .mx_footer {
    margin-left: 12px;
    margin-right: 12px;
  }
  .mw_449 {
    min-width: 249px;
  }
  .mw_150 {
    min-width: 150px;
  }
}
