@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/Maison-neue/FontsFree-Net-Maison-Neue-Light.ttf");
  src: url("./assets/fonts/Maison-neue/MaisonNeue-Medium.otf");
  src: url("./assets/fonts/Maison-neue/MaisonNeue-Mono.ttf");
}
@font-face {
  font-family: "Söhne Schmal";
  src: url("./assets/fonts/soehne/soehne-schmal-dreiviertelfett.woff2");
}

.ff_sohne {
  font-family: "Söhne Schmal";
}
.ff_maison {
  font-family: "Maison Neue";
}
:root {
  --fs-15: 15px;
  --fs-6: 6px;
  --fs-80: 80px;
  --fs-70: 70px;
  --fs-30: 30px;
  --fs-40: 40px;
  --fs-50: 50px;
}
.fs_15 {
  font-size: var(--fs-15);
}
.fs_6 {
  font-size: var(--fs-6);
}
.fs_80 {
  font-size: var(--fs-80);
}
.fs_30 {
  font-size: var(--fs-30);
}
.fs_40 {
  font-size: var(--fs-40);
}
.fs_70 {
  font-size: var(--fs-70);
}
.fs_50{
  font-size: var(--fs-50);
}